@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/default.jpeg') no-repeat center center/cover fixed;
    font-family: 'Poppins', sans-serif;
}

.weather-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 50%;
    margin: 50px auto;
    padding: 25px;
    text-align: center;
}

.header-text {
    text-align: center;
}

.header-text h1 {
    font-weight: 600;
}

.header-text h3 {
    margin-top: 10px;
    font-weight: 600;
} 

form {
    text-align: center;
    margin-top: 25px;
}

form input[type="text"] {
    padding: 10px;
    margin-top: 25px;
    background: #f1f1f1;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    width: 65%;
}

form input[type="submit"] {
    background: #0096ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background: #89cff0;
}

#weather-info h2 {
    margin-top: 25px;
    font-weight: 400;
}

.weather-icon img {
    width: 15%;
    margin: 10px 0;
}

.air-temperature {
    font-size: 3rem;
    font-weight: bold;
    margin: 25px 0;
}

.weather-description {
    font-size: 1.5rem;
}

.elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.elements > div {
    padding: 15px;
    background: #f1f1f1;
    color: #333;
    margin: 10px;
    flex: 1;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 820px) {
    .weather-container { 
        width: 75%; 
    }

    form input[type="text"] {
        margin-bottom: 10px;
    }

    .weather-icon img {
        width: 25%;
    }
}

@media (max-width: 600px) {
    .weather-container {
        width: 95%;
    }

    form input[type="text"] {
        width: 50%;
    }

    .weather-icon img {
        width: 35%;
    }

    .elements {
        width: 85%;
        margin: auto;  
        flex-direction: row;
        flex-wrap: wrap;
    }
}

